.ccc {
  display: grid;
  place-items: center;
}

.ccc_content {
  position: relative;
  max-width: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ccc_field-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ccc_field-group:hover button.ccc_copy-to-clipboard-btn,
.button.ccc_copy-to-clipboard-btn:hover {
  display: block;
}

label.ccc_field-label.label {
  width: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

input.ccc_field-input.input,
.ccc_field-input-group {
  width: 400px;
  display: flex;
  gap: 10px;
}

.ccc_color-previewer {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -280px;
  top: -40px;
  border-radius: 5px;
}

.ccc_color-code {
  cursor: pointer;
}

.ccc_color-code:hover {
  border-bottom: 2px dashed black;
}