header.tl_modal-head {
  gap: 10px;
  --title-width: calc(100% - 40px - 10px - 20px);
}

.tl_title {
  height: 30px;
  cursor: pointer;
  width: var(--title-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tl_title-actions {
  position: absolute;
  display: flex;
  gap: 10px;
  width: max-content;
  right: 50px;
  top: 55px;
  z-index: 1;
}

footer.tl_modal-actions,
header.tl_modal-head {
  background-color: white;
  border: 0;
}

.tl_modal-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}